<script lang="ts">
  import {
    goalEditErrorMessage,
    newGoalStore
  } from "$lib/local/stores/goal.store";
  import InlineErrorMessage from "$lib/tidy/elements/text/InlineErrorMessage.svelte";
  import modalEvent from "$lib/tidy/components/modal/modal.store";
  import NewGoalForm from "./NewGoalForm.svelte";
  import { page } from "$app/stores";
  import ModalFooter from "$lib/tidy/components/modal/ModalFooter.svelte";
  import { PointronEventEnum } from "$lib/local/types/pointronEvent.enum";
  export let isPinToQuickFocus: boolean = false;
  newGoalStore.reset();
  let isPinToQuickFocusParam = $page.url.searchParams.get("isPinToQuickFocus");
  if (isPinToQuickFocusParam) {
    isPinToQuickFocus = isPinToQuickFocusParam === "true";
  }
  $newGoalStore.goal.isPinnedForQuickStart = isPinToQuickFocus;
  function close() {
    modalEvent.hideSpecific(PointronEventEnum.CREATE_EDIT_GOAL);
  }
</script>

<div class="flex flex-col items-start gap-6 w-full h-full">
  <div class="flex flex-col gap-6 w-full px-1 grow overflow-y-auto">
    <NewGoalForm />
  </div>
  <footer class="flex flex-col w-full pb-8 gap-2">
    <InlineErrorMessage bind:error={$goalEditErrorMessage} />
    <ModalFooter
      isPreventAutoClose={true}
      primaryAction={{
        label: "Save",
        callback: async () => {
          await newGoalStore.save();
          if (!$goalEditErrorMessage) close();
        }
      }}
      secondaryAction={{
        label: "Discard",
        callback: async () => {
          newGoalStore.reset();
          close();
        }
      }}
    />
  </footer>
</div>

<style>
  .overflow-y-auto {
    overscroll-behavior-y: none;
  }
</style>
