<script lang="ts">
  import ChipsAutocomplete from "$lib/tidy/elements/autocomplete/ChipsAutocomplete.svelte";
  import type { AutocompleteListItemType } from "$lib/tidy/types/autocompleteListItem.type";
  import { ChipVariant } from "$lib/tidy/types/chipVariant.enum";
  import GoalColorPickerWithPreview from "../GoalColorPickerWithPreview.svelte";
  import { onMount } from "svelte";
  import { newGoalStore } from "$lib/local/stores/goal.store";
  import TextArea from "$lib/tidy/elements/input/TextArea.svelte";
  import { pointronEvents, tagStore } from "$lib/local/stores/local.store";
  import { PointronEventEnum } from "$lib/local/types/pointronEvent.enum";
  import type { PointronEvent } from "$lib/local/types/pointronEvent.type";
  import TextInput from "$lib/tidy/elements/input/TextInput.svelte";
  import SwitchInput from "$lib/tidy/elements/toggle/SwitchInput.svelte";
  import { Orientation } from "$lib/tidy/types/direction.enum";
  function getUsedColors() {
    return [];
  }
  onMount(async () => {
    usedColors = getUsedColors();
    pointronEvents.subscribe(async (x: PointronEvent) => {
      if (x.event === PointronEventEnum.GOALS_UPDATED) {
        usedColors = getUsedColors();
      }
    });
  });
  let usedColors: number[];
  let tagOptions: AutocompleteListItemType[] = $tagStore.tags;
</script>

<div class="flex flex-col w-full gap-6 pb-20">
  <TextInput
    bind:value={$newGoalStore.goal.label}
    placeholder="Enter goal name here"
    label={{ label: "Goal name", orientation: Orientation.Vertical }}
    width="w-full"
  />
  <TextArea
    placeholder="Type description of the goal here"
    bind:value={$newGoalStore.goal.description}
    label={{ label: "Description", orientation: Orientation.Vertical }}
    rows={3}
  />
  <ChipsAutocomplete
    label="Tags"
    bind:values={$newGoalStore.goal.tags}
    chipsVariant={ChipVariant.OUTLINED}
    placeholder={$newGoalStore.goal.tags?.length
      ? "type to add"
      : "start typing to add tags"}
    options={tagOptions}
  />
  <GoalColorPickerWithPreview
    bind:hue={$newGoalStore.goal.color}
    label={$newGoalStore.goal.label}
  />
  <SwitchInput
    label={{ label: "Pin goal to quick focus" }}
    width="w-full"
    bind:checked={$newGoalStore.goal.isPinnedForQuickStart}
  />
  <SwitchInput
    label={{ label: "Mark as favorite" }}
    width="w-full"
    bind:checked={$newGoalStore.goal.isFavorite}
  />
</div>
