<script lang="ts">
  import { page } from "$app/stores";
  import { PanelSwitcherStyle } from "$lib/tidy/types/switcher.enum";
  import { onMount } from "svelte";
  import QuickStart from "./quickstart/QuickStart.svelte";
  import Advanced from "./advanced/Advanced.svelte";
  import view from "$lib/tidy/stores/view.store";
  import { sessionStore } from "$lib/local/stores/session.store";
  import PanelSwitcher from "$lib/tidy/elements/switcher/PanelSwitcher.svelte";
  import Zen from "./zen/Zen.svelte";
  import { PointronEventEnum } from "$lib/local/types/pointronEvent.enum";
  import Panel from "$lib/tidy/layout/paint/Panel.svelte";
  import FloatingButton from "$lib/tidy/elements/button/FloatingButton.svelte";
  import AdvancedPortrait from "./advanced/AdvancedPortrait.svelte";
  import { TextStyle } from "$lib/tidy/types/text.enum";
  import { postMessageToParent } from "$lib/tidy/utils/embed.utils";
  import { EmbedMessage } from "$lib/tidy/types/embedMessage.enum";
  import {
    ButtonVariant,
    type ButtonParams
  } from "$lib/tidy/types/button.type";
  import { runAction } from "$lib/tidy/utils/utils";
  import { Size } from "$lib/tidy/types/size.enum";
  import { dataManager } from "$lib/tidy/stores/data.store";
  import { quickFocusItemsStoreId } from "$lib/local/stores/goal.store";
  import { Item } from "$lib/tidy/types/item.enum";
  import PageLayer from "$lib/tidy/layout/layers/PageLayer.svelte";
  import QuickStartActions from "./quickstart/actions/QuickStartActions.svelte";
  import { pointLogStore } from "../logs/log.store";
  let mode: number = 0;
  let isInlineEnabled: boolean = true;
  let addManualLogButton = {
    label: "Add manual log",
    callback: onManualLogClicked,
    icon: "plus",
    variant: $view.isPortrait ? ButtonVariant.PRIMARY : ButtonVariant.SECONDARY
  };
  let startSessionButton: ButtonParams = {
    label: "Start session",
    callback: onStartSessionClicked,
    icon: "play",
    variant: ButtonVariant.PRIMARY
  };
  /**
   * Refresh the page data
   *
   * Note: Setting a delay to ensure that dataManager loads session, focus items data before performing check and triggering loadEmptyState.
   */
  onMount(async () => {
    await refresh();
    setTimeout(() => {
      if ($sessionStore.isSessionRunning) {
        if ($sessionStore.isQuickStartOn) {
          mode = 0;
        } else {
          mode = 1;
        }
      } else {
        sessionStore.loadEmptyState();
      }
    }, 1000);
    let queryParamMode = $page.url.searchParams.get("mode");
    if (queryParamMode) {
      mode = +queryParamMode;
    }
  });
  async function onManualLogClicked() {
    pointLogStore.reset();
    runAction(PointronEventEnum.MANUAL_FOCUS_ENTRY_POP);
  }
  async function onStartSessionClicked() {
    await sessionStore.startSession();
  }
  async function refresh() {
    await dataManager.refreshPage([quickFocusItemsStoreId, Item.PointTag]);
  }
</script>

{#if $view.isPortrait}
  <div class="relative flex w-full h-full">
    <div class="flex flex-col h-full w-full">
      {#if $sessionStore.isSessionRunning && !$sessionStore.isQuickStartOn && isInlineEnabled}
        <Zen isInline={true} />
      {:else}
        <div
          class="flex flex-col gap-3 w-full h-full items-center {$view.isPortrait
            ? 'px-4 py-2'
            : 'p-6'}"
        >
          <div class="flex w-full gap-8 items-center justify-center">
            <PanelSwitcher
              size={Size.lg}
              items={["Quick Focus", "Advanced"]}
              value={mode === 0 ? "Quick Focus" : "Advanced"}
              style={PanelSwitcherStyle.DOT}
              isDisableEnabled={$sessionStore.isSessionRunning}
              on:switch={(e) => {
                mode = e.detail === "Quick Focus" ? 0 : 1;
              }}
            />
            <!-- <TopBarActions /> -->
            <!-- {#if mode === 0}
              <QuickStartActions context="topright" />
            {/if} -->
          </div>
          {#if mode === 0}
            <div class="flex-grow w-full">
              <QuickStart />
            </div>
            <!-- <ManualFocusLog /> -->
          {:else}
            <AdvancedPortrait action={startSessionButton} />
          {/if}
        </div>
      {/if}
    </div>
    {#if mode === 0}
      <FloatingButton params={addManualLogButton} />
    {/if}
  </div>
{:else}
  <div class="flex w-full h-full">
    {#if $sessionStore.isSessionRunning && !$sessionStore.isQuickStartOn}
      <Zen isInline={true} />
    {:else}
      <Panel
        title="Quick Focus"
        floatingButton={addManualLogButton}
        titleStyle={TextStyle.PANEL_HEADING}
      >
        <QuickStart />
        <slot:fragment slot="toprightactions">
          <span>
            <QuickStartActions context="topright" />
          </span>
        </slot:fragment>
        <slot name="right" slot="right">
          {#if $sessionStore.isSessionRunning}
            <Zen isInline={true} />
          {:else}
            <Advanced action={startSessionButton} />
          {/if}
        </slot>
      </Panel>
    {/if}
  </div>
{/if}
<PageLayer on:appear={refresh} />
