<script lang="ts">
  import {
    startTouch,
    moveTouch,
    swipeIsRefreshing
  } from "$lib/tidy/utils/touchGesture";
  import { onMount } from "svelte";
  import QuickStartThumbnail from "./QuickStartThumbnail.svelte";
  import view from "$lib/tidy/stores/view.store";
  import {
    tagStore,
    userLocalPreferences
  } from "$lib/local/stores/local.store";
  import EmptyStatusView from "$lib/tidy/elements/feedback/EmptyStatusView.svelte";
  import { Size } from "$lib/tidy/types/size.enum";
  import QuickStartActions from "./actions/QuickStartActions.svelte";
  import { Layout } from "$lib/tidy/types/layout.type";
  import { resolveUiState, runAction } from "$lib/tidy/utils/utils";
  import { localUiStateEnum } from "$lib/local/types/uiState.enum";
  import { TagId } from "$lib/local/types/tagId.enum";
  import { quickFocusItemStore } from "$lib/local/stores/goal.store";
  import RefreshingOverlayFeedback from "$lib/tidy/elements/feedback/RefreshingOverlayFeedback.svelte";
  import { PointronEventEnum } from "$lib/local/types/pointronEvent.enum";
  import { toggleSearchParam } from "$lib/tidy/utils/browser.utils";

  let isLoadingState = false;
  let searchInput = "";
  let selectedTagId = "";
  $: layout = resolveUiState(
    $userLocalPreferences.uiStates,
    localUiStateEnum.quickFocusLayout
  );
  $: selectedTagName =
    selectedTagId &&
    selectedTagId != TagId.ALL &&
    selectedTagId != TagId.FAVORITES
      ? $tagStore.tags.find((x) => x.id === selectedTagId)?.label
      : "";
  async function refresh() {
    isLoadingState = true;
    quickFocusItemStore.refresh({
      tag: selectedTagId,
      searchText: searchInput
    });
    isLoadingState = false;
  }
  function filter() {
    quickFocusItemStore.filter({ tag: selectedTagId, searchText: searchInput });
  }
</script>

<div
  id="QSouter"
  on:touchstart={startTouch}
  on:touchmove={() =>
    moveTouch(event, undefined, undefined, refresh, undefined, undefined)}
  class="flex flex-col h-full gap-4 w-full"
>
  <!-- <div class="hidden text-xl" class:animate-spin={$swipeIsRefreshing}>↻</div> -->
  <QuickStartActions
    bind:searchInput
    bind:selectedTagId
    on:search={filter}
    on:select={filter}
  />
  {#if !isLoadingState && $quickFocusItemStore.filteredItems && $quickFocusItemStore.filteredItems.length > 0}
    <div
      id="QSinner"
      on:touchstart|stopPropagation={startTouch}
      class="relative flex w-full pb-60 {layout === Layout.LIST
        ? 'flex-col gap-3 flex-grow overflow-y-auto'
        : 'flex-wrap gap-2 overflow-y-auto'}"
    >
      <!-- TODO - attach swipe refresh on touch device -->
      {#if $quickFocusItemStore.isRefreshing}
        <RefreshingOverlayFeedback />
      {/if}
      {#each $quickFocusItemStore.filteredItems as goal, index (goal)}
        <QuickStartThumbnail {refresh} {goal} {layout} />
      {/each}
    </div>
  {:else}
    <EmptyStatusView
      size={Size.sm}
      {isLoadingState}
      mainText={selectedTagId === TagId.FAVORITES
        ? "No favorite goals found"
        : !selectedTagId || selectedTagId === TagId.ALL
          ? "No pinned goals found"
          : "No goals found"}
      actionText={!selectedTagId || selectedTagId === TagId.ALL
        ? "Create new goal"
        : ""}
      on:click={() => {
        runAction(PointronEventEnum.CREATE_EDIT_GOAL, {
          isPinToQuickFocus: true
        });
      }}
    >
      <slot name="subtext" slot="subtext">
        {#if selectedTagId === TagId.FAVORITES}
          Please favorite a pinned goal to see them here
        {:else if !selectedTagId || selectedTagId === TagId.ALL}
          Please create a new goal or pin an existing one to the quick focus
          section.
        {:else}
          Please add the tag <b>#{selectedTagName ?? ""}</b> to a goal to see them
          here
        {/if}
      </slot>
    </EmptyStatusView>
  {/if}
</div>

<style>
  .animate-spin {
    display: block;
    position: absolute;
    top: 4%;
    left: 48%;
  }
</style>
