<script lang="ts">
  import { userLocalPreferences } from "$lib/local/stores/local.store";
  import MultiselectDropdown from "$lib/tidy/elements/dropdown/MultiselectDropdown.svelte";
  import { userPreferences } from "$lib/tidy/stores/app.store";
  import { TimeScale } from "$lib/tidy/types/time.type";
  import TargetInput from "./TargetInput.svelte";
  import { onMount } from "svelte";
  import { properCase } from "$lib/tidy/utils/text.utils";
  import { InputStyle } from "$lib/tidy/types/input.type";
  import { Orientation } from "$lib/tidy/types/direction.enum";
  let timescaleOptions = $userPreferences.timeScales
    ? $userPreferences.timeScales.map((x) => {
        return { label: properCase(x), value: TimeScale[x] };
      })
    : Object.keys(TimeScale).map((key) => {
        return {
          label: properCase(key),
          value: TimeScale[key]
        };
      });
  onMount(() => {
    $userLocalPreferences.horizonsWithTarget =
      $userLocalPreferences.horizonsWithTarget?.filter((x) =>
        $userPreferences.timeScales?.some((y) => y == x)
      );
  });
</script>

<div class="flex flex-col gap-4 w-full">
  <MultiselectDropdown
    label={{
      label: "Enable target for these time scales",
      orientation: Orientation.Vertical
    }}
    options={timescaleOptions}
    bind:selected={$userLocalPreferences.horizonsWithTarget}
    style={InputStyle.BORDERED}
  />

  {#if $userLocalPreferences.horizonsWithTarget && $userLocalPreferences.horizonsWithTarget.length > 0}
    {#each $userLocalPreferences.horizonsWithTarget as item}
      <TargetInput {item} />
    {/each}
  {/if}
</div>
