<script lang="ts">
  import { userLocalPreferences } from "$lib/local/stores/local.store";
  import SwitchInput from "$lib/tidy/elements/toggle/SwitchInput.svelte";
</script>

<div class="flex flex-col gap-4 w-full">
  <SwitchInput
    label={{ label: "Include break in analytics" }}
    bind:checked={$userLocalPreferences.isIncludeBreakInAnalytics}
  />
</div>
