<script lang="ts">
  import EmptyStatusView from "$lib/tidy/elements/feedback/EmptyStatusView.svelte";
  import Text from "$lib/tidy/elements/text/Text.svelte";
  import view from "$lib/tidy/stores/view.store";
  import { Size } from "$lib/tidy/types/size.enum";
  import { TextStyle } from "$lib/tidy/types/text.enum";
  import { isValidArrayWithData } from "$lib/tidy/utils/obj.utils";
  import TargetGuages from "./TargetGuages.svelte";
  export let data: any;
</script>

<div class="w-full flex flex-col gap-6 pb-4">
  <div class="flex px-4">
    <Text style={TextStyle.PANEL_HEADING} content="Targets" />
  </div>
  {#if isValidArrayWithData(data)}
    <div class="flex justify-evenly w-full flex-wrap">
      <TargetGuages size={Size.md} {data} />
    </div>
  {:else}
    <EmptyStatusView
      size={Size.sm}
      mainText="No targets set"
      subText="Set targets to see them here"
      actionText="Set targets"
      on:click={() => {
        view.gotoPath("/cp/targets");
      }}
    />
  {/if}
</div>
