<script lang="ts">
  import TextInput from "$lib/tidy/elements/input/TextInput.svelte";
  import { tagStore } from "$lib/local/stores/local.store";
  import ModalFooter from "$lib/tidy/components/modal/ModalFooter.svelte";
  import { PointronEventEnum } from "$lib/local/types/pointronEvent.enum";
  import modalEvent from "$lib/tidy/components/modal/modal.store";
  let label: string = "";
  let modalRef: any;
  async function onAdd() {
    if (!label) return;
    await tagStore.create(label);
  }
</script>

<div class="h-full flex flex-col justify-between p-1">
  <TextInput
    bind:value={label}
    placeholder={"Tag name"}
    on:keydown={(e) => {
      if (e.key === "Enter") {
        modalRef.close();
      }
    }}
  />
  <ModalFooter
    on:close={() => {
      modalEvent.hideSpecific(PointronEventEnum.ADD_TAG);
    }}
    primaryAction={{
      label: "Add",
      callback: onAdd
    }}
    secondaryAction={{
      label: "Discard"
    }}
  />
</div>
