<!-- <script lang="ts">
    export let label: string = "something";
    export let checked: any;
</script>

<label for="rememberMe" class="flex items-center cursor-pointer">
    <div>
        <div class="relative">
            <input id="rememberMe" type="checkbox" class="hidden" bind:checked />
            <div
                class="w-6 h-6 border rounded-sm bg-white shadow-sm absolute top-0 left-0 flex items-center justify-center"
                style="appearance: none"
            >
                {#if checked}
                    <svg
                        class="w-4 h-4 text-ags1-500 fill-current"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                    >
                        <path
                            d="M17.707 2.293a1 1 0 00-1.414 0L7 11.586 4.707 9.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l10-10a1 1 0 000-1.414z"
                        />
                    </svg>
                {/if}
            </div>
        </div>
    </div>
<div>
    {label}
</div>

</label> -->

<script>
  let isChecked = false;
</script>

<label class="flex items-center space-x-2">
  <input
    type="checkbox"
    class="form-checkbox h-5 w-5 text-blue-600 transition duration-150 ease-in-out"
    checked={isChecked}
  />
  <span class="font-medium">Check me out</span>
</label>
