<script lang="ts">
  import Notifications from "$lib/local/layout/Notifications.svelte";
  import LocalBackwardSupportLayer from "./LocalBackwardSupportLayer.svelte";
  import { onMount } from "svelte";
  import { sessionStore } from "$lib/local/stores/session.store";
  import { appLoadingState, appStore } from "$lib/tidy/stores/app.store";
  import account from "$lib/tidy/stores/account.store";
  import {
    appEvents,
    scheduledNotifications
  } from "$lib/tidy/stores/notification.store";
  import { AppEvent } from "$lib/tidy/types/event.enum";
  import { EmbedContext, LaunchContext } from "$lib/tidy/types/appStore.type";
  import { LocalPersistance } from "../stores/local.persistance";
  import { postToParent } from "$lib/tidy/utils/embed.utils";
  import { userLocalPreferences } from "../stores/local.store";
  import BackgroundSoundPlayer from "../components/focus/backgroundMusic/BackgroundSoundPlayer.svelte";
  import { PointronEventEnum } from "../types/pointronEvent.enum";
  const localPersistance = new LocalPersistance();
  let isLiteMode =
    $appStore.launchContext === LaunchContext.EMBED &&
    $appStore.embedContext === EmbedContext.SHEET;
  onMount(async () => {
    if ($account.isLoggedIn) await initializeData();
    const appEventSub = appEvents.subscribe(async (e) => {
      if (isLiteMode) return;
      if (e.event === AppEvent.USER_LOGIN) {
        if (!e.value) sessionStore.loadEmptyState();
      } else if (e.event === AppEvent.USER_SIGNUP) {
        sessionStore.loadEmptyState();
        userLocalPreferences.loadSeedData();
        localPersistance.syncSeedDataToCloud();
      }
    });
    $appLoadingState.isLocalLoaded = true;
    return () => {
      sessionStore.clearIntervals();
      appEventSub();
    };
  });
  async function initializeData() {
    if (isLiteMode) {
      // await localPersistance.syncUserData(false);
      return;
    }
    // await localPersistance.syncUserData(true);
    if ($sessionStore.isSessionRunning) {
      appStore.showFullScreenPlayer(PointronEventEnum.FULL_SCREEN_FOCUS);
    }
    if ($appStore.launchContext != LaunchContext.EMBED) {
      if (
        "serviceWorker" in navigator &&
        window.location.protocol === "https:"
      ) {
        navigator.serviceWorker.register("/worker.js");
      }
    }
  }
  async function handleVisibilityChange() {
    if (document?.hidden) {
      const registration = await navigator?.serviceWorker?.ready;
      if ($scheduledNotifications.length > 0) {
        registration?.active?.postMessage({
          type: "SCHEDULE_NOTIFICATIONS",
          notifications: $scheduledNotifications
        });
        postToParent({
          notifications: $scheduledNotifications
        });
      }
    } else {
      // if ($account.isLoggedIn) await localPersistance.syncFocusState();
      scheduledNotifications.reset();
      navigator?.serviceWorker?.controller?.postMessage({
        type: "CLEAR_NOTIFICATIONS"
      });
    }
  }
</script>

<Notifications />
<!-- <LocalBackwardSupportLayer /> -->
<BackgroundSoundPlayer />
<svelte:document on:visibilitychange={handleVisibilityChange} />
