<script lang="ts">
  import { onMount } from "svelte";
  import modalEvent from "$lib/tidy/components/modal/modal.store";
  import { PointronEventEnum } from "$lib/local/types/pointronEvent.enum";
  import { sessionStore } from "$lib/local/stores/session.store";
  import { SessionState } from "$lib/local/types/sessionState.enum";
  onMount(() => {
    setTimeout(() => {
      modalEvent.hideSpecific(PointronEventEnum.PREDEFINED_INTERVAL_NOTIFIER);
    }, 2000);
  });
</script>

<div class="flex w-full h-full items-center justify-center p-4">
  <!-- TODO - Add illustrations -->
  {#if $sessionStore.state === SessionState.BREAK_RUNNING}
    BREAK STARTED
  {:else}
    FOCUS STARTED
  {/if}
</div>
